<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>TimeApp</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'css/demo.css' %}">
    </head>
    <body>
        <h1> Hello Guys </h1>
        <h2>Current Server time is {{time}}</h2>
        <script src="" async defer></script>
    </body>
</html>